{% extends 'wrk_cell_base.html' %}
{% block content %}
    <h1>Available Services at FAST-LAB</h1>
    <div id="list-example" class="list-group">
        <a class="Light link list-group-item list-group-item-action" href="/fastory_services" " tabindex="-1" role="button">Conveyor Belt Services</a>
        <a class="Light link list-group-item list-group-item-action" href="/s1000_services"  tabindex="-1" role="button" >S1000-EM Services</a>
    </div>  
    <hr>
    <h1>Available Services at ZDMP</h1>
{% endblock %}
<!-- class="btn btn-primary btn-lg -->